# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (optional)
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/pubspec.lock

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Android build folders
/android/.gradle/
/android/app/build/
/android/app/debug/
/android/app/profile/
/android/app/release/
